.btn-custom {
  background-color: rgba(255, 255, 255, 1);
  color: black;
  border: 1px solid black;
  border-radius: 10px;
}

.btn-custom:hover {
  transition: background-color 0.8s, color 0.8s;
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
}

.form-container {
  margin-top: 10px;
  border: 1px solid black;
  background-color: white;
  padding: 20px;
}

.navbar {
  position: sticky;
  top: 0;
  left: 0;
}
